@import "variables";

#add-youth-form {
    border: 3px solid #f1f1f1;
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}


input[type=text], 
input[type=date] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

// add youth button
.mdl-button--raised.mdl-button--colored {
    background: $light-green;
}