@import "variables";

.progress-link, .presentation-link {
    color: $orange-accent;
    padding: 15px;
}

.youth-tracker-container {
    display: inline-block;
    position: relative;
}

// MDL 'add' button
.mdl-button--fab {
    min-width: 35px;
    height: 35px;
    width: 35px;
    position: absolute;
    right: 0px;
    bottom: -20px;
}
