@import "variables";

.mdl-layout__header {
    background-color: #FFF;
}

.mdl-layout__header-row {
    padding: 0 40px 0 40px;
    color: $light-green;

    .mdl-navigation__link {
        color: $light-green;
    }
}

.navbar-logo {
    height: inherit;

    img {
        position:relative;
        top: -2px;
    }
}

.header-divider {
     border-right:1px solid #16222c; 
     height:25px;
}