@import "variables";

.mdl-layout__header {
    background-color: $light-green;

    .mdl-navigation__link {
        color: white;
    }
}

.navbar-logo {
    height: inherit;

    img {
        position:relative;
        top: -2px;
    }
}
