@import "variables";

.presentation-container {
    position: relative;
    width: 90%;
    margin: 20px auto 0 auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}