@import "variables";

.mdl-data-table.mdl-js-data-tabled {
    th, td {
        text-align: left;
    }
}

.youth-tracker-container {
    width: 100%;

    tbody tr:focus, tbody tr:hover {
        background-color: lightgray;
    }
}

.youth-table {
    width: 100%;
}