@import "variables";

.progress-header {
    margin: 0px 40px -30px 40px;
    width: calc(100% - 80px);

    .mdl-button { 
        float: right;
    }

    .mdl-navigation__link {
        color: black !important;
    }

    .material-icons {
        padding-right: 3px;
    }

    .visit-date {
        color: rgba(0,0,0,0.5);
        font-size: 16px;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        vertical-align: middle;
    }

    .date-part {
        color: black;
    }
}

.board {
    margin: 40px;
    border: 1px solid #ccc;
    min-height: 500px;
    overflow: visible;
    display: flex;
    flex: 1;
    flex-flow: row;

    .col {
        // border-right: 1px solid black;
        width: calc(100% / 3);
        background-color: #E7E7E7;
         

        .demo-card-wide.mdl-card {
            width: 90%;
            margin: 15px auto;
            min-height:  125px;

            .mdl-card__title:hover {
                cursor: pointer;
            }

            .mdl-card__title-text {
                font-size: 20px;
            }

            .mdl-card__title, .mdl-card__supporting-text {
                padding: 10px 16px;
                font-weight: bold;
            }

            .mdl-card__menu {
                top: 10px;
            }

            .mdl-button--colored {
                color: $light-green;
            }

            .no-due-date {
                color: #CCC;
            }

            .due-done {
                color: $light-green;
                font-weight: bold;
            }

            .due-now {
                color: red;
            }

            .due-soon {
                color: $orange-accent;
            }
        }

        .no-forms-message {
            color: black;
            font-size: 16px;
            text-align: center;
            width: 100%;
            margin-top: 100px;
        }
    }

    .col:nth-of-type(2) {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

    .mdl-layout__header {
        box-shadow: /*0 2px 2px 0 rgba(0,0,0,.14),*/ 0 3px 1px -2px rgba(0,0,0,.2)/*, 0 1px 5px 0 rgba(0,0,0,.12)*/;

        .mdl-layout-title {
            margin: 0px auto;
        }
    }

    .align-right {
        float: right;
    }

    .form-type {

        // box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
        
        .form-type-title {
            width: calc(100% - 20px);
            background-color: white;
            padding: 5px 10px;
            color: #CCC;
            height: 30px;
            line-height: 30px;
            vertical-align: middle;
            font-size: 16px;
            border-top: 1px solid #ccc; 
        }

        .filled-form-type-title {
            color: black;
        }

    }

    .form-dialog {
        width: 25% !important;
    }

    .mdl-layout__header-row {
        background-color: $light-green;
    }
}