@import "variables";

.youth-info-container {
    position: relative;

    .youth-row {
        display: flex;
        flex-flow: row wrap;
        flex: 1;
        justify-content: space-between;
        border: 1px solid black;

        .youth-col {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
        }

        .case {
            border-top: 1px solid black;
            border-left: none;
        }

        .col-text {
            padding-left: 15px;
            width: 100%;
        }

        .youth-info-divider {
            border-color: $light-green;
            width: 200px;
        }

        .inner-col {
            padding: 0 30px 0 30px;
        }

        p {
            font-weight: 600;
        }

        .value {
            font-weight: 300;
        }

        @media (min-width: 1160px) {
            .youth-col {
                width: 25%;
                flex-grow: 1;
            }

            .case {
                width: 65%;
                border-left: 1px solid black;
                border-top: none;

                .inner-col {
                    padding-right: 0px;
                }
            }
        }
    }

    .youth-action-buttons {
        position: absolute;
        right: 0;
        top: 38px;

        .material-icons {
            padding: 0 3px 3px 0;
        }

        .mdl-navigation__link {
            color: black;
        }
    }

    .extend, .change-beds, .edit-youth {
        text-transform: none;
        line-height: 1;
    }
}

.mdl-select {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
}

.mdl-select__input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.15);
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 16px;
    text-align: left;
    color: inherit;
}

.mdl-select__label {
    bottom: 0;
    color: rgba(0,0,0, 0.5);
    font-size: 16px;
    padding-left: 5px;
}

.mdl-select__expandable-holder {
    display: inline-block;
    position: relative;
    margin-left: 32px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    max-width: 0.1px; 
}

#mdl-dialog {
    border: 1px solid gray;
    box-shadow: 0 9px 46px 8px rgba(0,0,0,.14), 
        0 11px 15px -7px rgba(0,0,0,.12), 
        0 24px 38px 3px rgba(0,0,0,.2);
    width: 290px;

    #dialog-title {
        padding: 24px 24px 0;
        margin: 0;
        font-size: 30px;
    }

    #dialog-descr {
        padding: 20px 24px 24px;
        color: rgba(0,0,0,.54);

        p {
            margin: 0 0 16px;
            letter-spacing: 0;
            font-size: 14px;
        }
    } 

    #dialog-actions {
        padding: 8px 8px 8px 24px;
        display: flex;
        flex-flow: row-reverse wrap;

        #dialog-submit, #dialog-close {
            font-size: 12px;
            background: 0 0;
            border: none;
            border-radius: 2px;
            min-width: 64px;
            padding: 0 16px;
            overflow: hidden;
            // will-change: box-shadow;
            // transition: box-shadow .2s cubic-bezier(.4,0,1,1),
            //     background-color .2s cubic-bezier(.4,0,.2,1),
            //     color .2s cubic-bezier(.4,0,.2,1);
            cursor: pointer;
            line-height: 36px;
        }

        #dialog-close {
            margin-right: 8px;
        }
    }

    #extend-input, #switch-input {
        width: 50px;
        margin: 0 5px;
    }

    #date-input {
        width: 115px;
        margin: 0 5px;
    }
}

#notes-input {
    width: 96%;
    margin: 15px;
}