@import "variables";

.mdl-data-table.mdl-js-data-tabled {
    th, td {
        text-align: left;

    }

    .seven-days {
        .mdl-navigation__link {
            color: $orange-accent;
        }
    }

    .three-days {
        .mdl-navigation__link {
            color: red;
        }
    }

    .exit-column {
        padding: 0 0 0 5px;
    }
}

.mdl-data-table tbody tr:nth-child(2n) {
    background-color: white;
}
.mdl-data-table tbody tr:nth-child(2n+1) {
    background-color: #e0e0e0;
}

.add-exit {
    text-transform: none;
    padding: 0;

    .add-exit-icon {
        padding-bottom: 3px;
    }
}

.youth-tracker-container {
    border: 1px solid rgb(220,220,220);
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.1), 0 24px 38px 3px rgba(0, 0, 0, 0);

    .mdl-layout__header {
        background-color: white;
    }

    .presentation-link {
        color: $light-green;
    }

    tbody tr:focus, tbody tr:hover {
        background-color: rgba(156, 177, 208, 0.67);
    }

    #mdl-dialog {
        width: 375px;

        #exit-warning {
            word-wrap: break-word;
            white-space: normal;
            padding: 15px 15px 0 15px;

            p {
                line-height: 20px;
                color: red;
                font-size: 12px;
                text-align: center;
            }
        }
    }
}

.youth-tracker-container #mdl-dialog input[type="radio"] {
    margin-right: 10px;
}
