@import "variables";

.youth-info-container {
    position: relative;

    .youth-row {
        display: flex;
        flex-flow: row wrap;
        flex: 1;
        justify-content: space-between;
        border: 1px solid black;

        .youth-col {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
        }

        .case {
            border-top: 1px solid black;
            border-left: none;
        }

        .col-text {
            padding-left: 15px;
            width: 100%;
        }

        .youth-info-divider {
            border-color: $light-green;
            width: 200px;
        }

        .inner-col {
            padding: 0 30px 0 30px;
        }

        p {
            font-weight: 600;
        }

        .value {
            font-weight: 300;
        }

        @media (min-width: 1160px) {
            .youth-col {
                width: 25%;
                flex-grow: 1;
            }

            .case {
                width: 55%;
                border-left: 1px solid black;
                border-top: none;
            }
        }
    }

    .youth-action-buttons {
        position: absolute;
        right: 0;
        top: 38px;

        .material-icons {
            padding: 0 3px 3px 0;
        }
    }

    .extend, .change-beds {
        text-transform: none;
        line-height: 1;
    }
}

.mdl-select {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
}

.mdl-select__input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.15);
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 16px;
    text-align: left;
    color: inherit;
}

.mdl-select__label {
    bottom: 0;
    color: rgba(0,0,0, 0.5);
    font-size: 16px;
    padding-left: 5px;
}

.mdl-select__expandable-holder {
    display: inline-block;
    position: relative;
    margin-left: 32px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    max-width: 0.1px; 
}