@import "variables";

.board {
    margin: 40px;
    border: 1px solid #ccc;
    min-height: 500px;
    overflow: visible;
    display: flex;
    flex: 1;
    flex-flow: row;

    .col {
        // border-right: 1px solid black;
        width: calc(100% / 3);
        background-color: #E7E7E7;
         

        .demo-card-wide.mdl-card {
            width: 90%;
            margin: 15px auto;
            min-height:  125px;

            .mdl-card__title-text {
                font-size: 20px;
            }

            .mdl-card__title, .mdl-card__supporting-text {
                padding: 10px 16px;
            }

            .mdl-button--colored {
                color: $light-green;
            }

            .due-done {
                color: $light-green;
            }

            .due-now {
                color: red;
            }

            .due-soon {
                color: $orange-accent;
            }
        }
    }

    .col:nth-of-type(2) {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

    .mdl-layout__header {
        box-shadow: /*0 2px 2px 0 rgba(0,0,0,.14),*/ 0 3px 1px -2px rgba(0,0,0,.2)/*, 0 1px 5px 0 rgba(0,0,0,.12)*/;

        .mdl-layout-title {
            margin: 0px auto;
        }
    }

    .mdl-card {
        min-height: 165px;
    }

    .align-right {
        float: right;
    }

    .form-type {

        // box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
        
        .form-type-title {
            width: calc(100% - 20px);
            background-color: white;
            padding: 5px 10px;
            color: #CCC;
            height: 30px;
            line-height: 30px;
            vertical-align: middle;
            font-size: 16px;
            border-top: 1px solid #ccc; 
        }

        .filled-form-type-title {
            color: black;
        }

    }
}