@import "variables";

.youth-detail-container {
    border: 1px solid black;
    margin: 15px;

    .mdl-layout__header {
        box-shadow: none;
    }

    .mdl-layout__header-row {
        padding: 0;
    }

    .youth-detail-divider {
        margin: 0 15px;
    }

    .mdl-select.mdl-js-select {
        padding-bottom: 20px;
    }
}


.kanban-board {
    margin: 40px;
    border: 1px solid black;
    height: 500px;
    overflow: auto;
    display: flex;
    flex: 1;
    flex-flow: row;

    .col1, .col2, .col3 {
        border: 1px solid black;
        height: 500px;
        width: calc(100% / 3);
    }
}

h4 {
    text-align: left;
}

.youth-info-container {
    position: relative;

    .youth-row {
        display: flex;
        flex-flow: row wrap;
        flex: 1;
        justify-content: space-between;
        border: 1px solid black;

        .youth-col {
            border: 1px solid black;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
        }

        .col-text {
            padding-left: 15px;
            width: 100%;
        }

        .youth-info-divider {
            border-color: $light-green;
            width: 200px;
        }

        .inner-col {
            padding: 0 30px 0 30px;
        }

        @media (min-width: 1160px) {
            .youth-col {
                border: 1px solid black;
                width: 49.8%;
            }
        }
    }

    .extend, .change-beds {
        position: absolute;
        bottom: 640px;
        left: 340px;
        height: 25px;
        width: 120px;
        text-transform: none;
        line-height: 1;
    }

    .change-beds {
        bottom: 610px;
    }

    .extend-input, .bed-input {
        position: absolute;
        bottom: 630px;
        left: 505px;
        visibility: hidden;

        #extend-input, #bed-input {
            width: 100px;
            height: 20px;
        }
    }

    .bed-input {
        bottom: 600px;
        left: 500px;
    }
}

.mdl-select {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
}

.mdl-select__input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.15);
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 16px;
    text-align: left;
    color: inherit;
}

.mdl-select__label {
    bottom: 0;
    color: rgba(0,0,0, 0.5);
    font-size: 16px;
    padding-left: 5px;
}

.mdl-select__expandable-holder {
    display: inline-block;
    position: relative;
    margin-left: 32px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    max-width: 0.1px; 
}