@import "variables";

.mdl-data-table.mdl-js-data-tabled {
    th, td {
        text-align: left;

    }

    .seven-days {
        .mdl-navigation__link {
            color: rgb(63,81,181);
        }
    }

    .three-days {
        .mdl-navigation__link {
            color: red;
        }
    }

    .exit-column {
        padding: 0 0 0 5px;
    }
}

.mdl-data-table tbody tr:nth-child(2n) {
    background-color: white;
}
.mdl-data-table tbody tr:nth-child(2n+1) {
    background-color: #e0e0e0;
}

.add-exit {
    text-transform: none;
    padding: 0;

    .add-exit-icon {
        padding-bottom: 3px;
    }
}

.youth-tracker-container {
    width: 100%;

    tbody tr:focus, tbody tr:hover {
        background-color: lightgray;
    }

    #mdl-dialog {
        width: 375px;

        #exit-warning {
            word-wrap: break-word;
            white-space: normal;
            padding: 15px 15px 0 15px;

            p {
                line-height: 20px;
                color: red;
                font-size: 12px;
                text-align: center;
            }
        }
    }
}

.youth-tracker-container #mdl-dialog input[type="radio"] {
    margin-right: 10px;
}
