@import "navbar";
@import "homepage";
@import "youth-tracker";
@import "youth-details";
@import "variables";
@import "presentation";

.container {
    margin: 3%;
}

a.mdl-navigation__link.active {
    color: $orange-accent;
    font-weight: 700;
}