@import "navbar";
@import "homepage";
@import "youth-tracker";
@import "youth-details";
@import "youth-info";
@import "youth-progress";
@import "variables";
@import "presentation";

.container {
    margin: 2%;
}

a.mdl-navigation__link.active {
    color: white;
    font-weight: 700;
}

body {
    background-color: $background-gray;
}

.header-fix {
    position: relative;
    padding: 0;
}

.header-divider {
     border-right:1px solid lightgray; 
     height:25px;
}