.mdl-layout__header {
  background-color: #FFF; }

.mdl-layout__header-row {
  padding: 0 40px 0 40px;
  color: #8fbc49; }
  .mdl-layout__header-row .mdl-navigation__link {
    color: #8fbc49; }

.navbar-logo {
  height: inherit; }
  .navbar-logo img {
    position: relative;
    top: -2px; }

.header-divider {
  border-right: 1px solid #16222c;
  height: 25px; }

.homepage-links {
  position: absolute;
  top: 120px;
  left: 100px; }
  .homepage-links .presentation-link {
    color: #E17000;
    padding: 15px; }

.homepage-bar {
  width: 100%; }

.mdl-data-table.mdl-js-data-tabled.youth-tracker-container {
  display: table;
  position: relative;
  width: 100%;
  margin: auto; }

.add-youth {
  position: absolute;
  right: 0; }
  .add-youth .material-icons {
    padding: 0 3px 3px 0; }
  .add-youth .mdl-navigation__link {
    color: black; }

#show-active {
  position: absolute;
  right: 135px;
  color: black; }
  #show-active #active-only {
    margin: 7px; }

.mdl-navigation__link .material-icons {
  padding-bottom: 3px; }

.mdl-data-table.mdl-js-data-tabled th, .mdl-data-table.mdl-js-data-tabled td {
  text-align: left; }
.mdl-data-table.mdl-js-data-tabled .seven-days .mdl-navigation__link {
  color: #3f51b5; }
.mdl-data-table.mdl-js-data-tabled .three-days .mdl-navigation__link {
  color: red; }
.mdl-data-table.mdl-js-data-tabled .exit-column {
  padding: 0 0 0 5px; }

.mdl-data-table tbody tr:nth-child(2n) {
  background-color: white; }

.mdl-data-table tbody tr:nth-child(2n+1) {
  background-color: #e0e0e0; }

.add-exit {
  text-transform: none;
  padding: 0; }
  .add-exit .add-exit-icon {
    padding-bottom: 3px; }

.youth-tracker-container {
  width: 100%; }
  .youth-tracker-container tbody tr:focus, .youth-tracker-container tbody tr:hover {
    background-color: lightgray; }
  .youth-tracker-container #mdl-dialog {
    width: 375px; }
    .youth-tracker-container #mdl-dialog #exit-warning {
      word-wrap: break-word;
      white-space: normal;
      padding: 15px 15px 0 15px; }
      .youth-tracker-container #mdl-dialog #exit-warning p {
        line-height: 20px;
        color: red;
        font-size: 12px;
        text-align: center; }

.youth-tracker-container #mdl-dialog input[type="radio"] {
  margin-right: 10px; }

.youth-detail-container {
  border: 1px solid gainsboro;
  margin: 15px;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  background-color: white; }
  .youth-detail-container .mdl-layout__header {
    box-shadow: none; }
  .youth-detail-container .mdl-layout__header-row {
    padding: 0; }
  .youth-detail-container .youth-detail-divider {
    margin: 0 15px; }
  .youth-detail-container .mdl-select.mdl-js-select {
    padding-bottom: 20px; }

h4 {
  text-align: left; }

.youth-info-container {
  position: relative; }
  .youth-info-container .youth-row {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: space-between;
    border: 1px solid black; }
    .youth-info-container .youth-row .youth-col {
      width: 100%;
      display: flex;
      flex-flow: row wrap; }
    .youth-info-container .youth-row .case {
      border-top: 1px solid black;
      border-left: none; }
    .youth-info-container .youth-row .col-text {
      padding-left: 15px;
      width: 100%; }
    .youth-info-container .youth-row .youth-info-divider {
      border-color: #8fbc49;
      width: 200px; }
    .youth-info-container .youth-row .inner-col {
      padding: 0 30px 0 30px; }
    .youth-info-container .youth-row p {
      font-weight: 600; }
    .youth-info-container .youth-row .value {
      font-weight: 300; }
    @media (min-width: 1160px) {
      .youth-info-container .youth-row .youth-col {
        width: 25%;
        flex-grow: 1; }
      .youth-info-container .youth-row .case {
        width: 65%;
        border-left: 1px solid black;
        border-top: none; }
        .youth-info-container .youth-row .case .inner-col {
          padding-right: 0px; } }
  .youth-info-container .youth-action-buttons {
    position: absolute;
    right: 0;
    top: 38px; }
    .youth-info-container .youth-action-buttons .material-icons {
      padding: 0 3px 3px 0; }
    .youth-info-container .youth-action-buttons .mdl-navigation__link {
      color: black; }
  .youth-info-container .extend, .youth-info-container .change-beds, .youth-info-container .edit-youth {
    text-transform: none;
    line-height: 1; }

.mdl-select {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  max-width: 100%;
  margin: 0;
  padding: 20px 0; }

.mdl-select__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 16px;
  text-align: left;
  color: inherit; }

.mdl-select__label {
  bottom: 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  padding-left: 5px; }

.mdl-select__expandable-holder {
  display: inline-block;
  position: relative;
  margin-left: 32px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  max-width: 0.1px; }

#mdl-dialog {
  border: 1px solid gray;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 290px; }
  #mdl-dialog #dialog-title {
    padding: 24px 24px 0;
    margin: 0;
    font-size: 30px; }
  #mdl-dialog #dialog-descr {
    padding: 20px 24px 24px;
    color: rgba(0, 0, 0, 0.54); }
    #mdl-dialog #dialog-descr p {
      margin: 0 0 16px;
      letter-spacing: 0;
      font-size: 14px; }
  #mdl-dialog #dialog-actions {
    padding: 8px 8px 8px 24px;
    display: flex;
    flex-flow: row-reverse wrap; }
    #mdl-dialog #dialog-actions #dialog-submit, #mdl-dialog #dialog-actions #dialog-close {
      font-size: 12px;
      background: 0 0;
      border: none;
      border-radius: 2px;
      min-width: 64px;
      padding: 0 16px;
      overflow: hidden;
      cursor: pointer;
      line-height: 36px; }
    #mdl-dialog #dialog-actions #dialog-close {
      margin-right: 8px; }
  #mdl-dialog #extend-input, #mdl-dialog #switch-input {
    width: 50px;
    margin: 0 5px; }
  #mdl-dialog #date-input {
    width: inherit;
    margin: 0 5px; }

#notes-input {
  width: 96%;
  margin: 1%;
  margin-bottom: 3%; }

.save-notes {
  position: absolute;
  bottom: 0;
  right: 25px;
  text-transform: none; }

.kanban-board {
  margin: 40px;
  border: 1px solid black;
  height: 500px;
  overflow: auto;
  display: flex;
  flex: 1;
  flex-flow: row; }
  .kanban-board .col1, .kanban-board .col2, .kanban-board .col3 {
    border: 1px solid black;
    height: 500px;
    width: calc(100% / 3); }

.presentation-container {
  position: relative;
  width: 90%;
  margin: 50px auto 0 auto; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%; }

.exit-btn {
  position: absolute;
  right: 10px;
  top: 10px; }
  .exit-btn .exit-icon {
    font-size: 35px; }

.container {
  margin: 3%; }

a.mdl-navigation__link.active {
  color: #E17000;
  font-weight: 700; }

body {
  background-color: #8fbc49; }

.header-fix {
  position: relative;
  padding: 0; }

/*# sourceMappingURL=main.css.map */
