{% load render_bundle from webpack_loader %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InForm</title>

    <!--Material Design Lite stylesheet-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fixed-data-table/0.6.3/fixed-data-table.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <!--<script defer src="bundles/bundle.js"></script>-->
</head>

<body>
    <div id="app">
        {% render_bundle "main" %} 
    </div>
</body>
</html>