/*$light-green: #8fbc49;
$orange-accent: #E17000;*/
 #header {
     background: #8fbc49;
 }

 div.breadcrumbs {
     background: #6FA99A;
 }

caption, h2, .submit-row input {
    background: #8fbc49 !important;
}

.import-warning {
    color: red;
}

.submit-row {
    position: fixed;
    bottom: 0;
    right: 0;
    background: transparent !important;
    border: none;
}

.login .submit-row {
    position: relative;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: white;
}

/* Begin Import/Export styling */

h2 {
    padding: 8px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

#import-export-nested {
    padding-left: 30px;
}

/* End Import/Export styling */