/*$light-green: #8fbc49;
$orange-accent: #E17000;*/
 #header {
     background: #8fbc49;
 }

 div.breadcrumbs {
     background: #6FA99A;
 }

caption, h2, .submit-row input {
    background: #8fbc49 !important;
}

.submit-row {
    position: fixed;
    bottom: 0;
    right: 0;
    background: transparent !important;
    border: none;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: white;
}